# Ignore data files (keep only final cleaned ones if needed)
data/*.csv
data/*.xlsx

# Ignore Power BI files
*.pbix

# Ignore Python cache files and folders
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files (never upload secrets)
.env
*.env

# Ignore logs
*.log

# VS Code settings (optional)
.vscode/
